<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./base/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./base/header') %>
    <div class="my-4">List of created tasks</div>
  </body>
</html>
