<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./base/head') %>
    <title>All Tasks</title>
  </head>
  <body>
    <%- include('./base/header') %>
    <div class="">Created tasks will appear here...</div>
    <%- include('./base/taskList') %>
  </body>
</html>
