<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./base/head') %>
    <title>All Tasks</title>
  </head>
  <body>
    <%- include('./base/header') %>
    <div class="my-1 px-2">List of all created tasks</div>
    <%- include('./base/taskList') %>
  </body>
</html>
