<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./base/head') %>
    <title>EJS Example</title>
  </head>
  <body>
    <%- include('./base/header') %>
    <div class="">Created tasks will appear here...</div>
    <ol>
      <% tasks.forEach(function(task){ %>
      <li><%= task.title %></li>
      <% }) %>
    </ol>
  </body>
</html>
