<header>
  <div class="bg-gray-900 flex flex-row py-2 px-4 md:text-2xl">
    <div class="flex w-3/4 md:flex-1 text-gray-300">
      <a href="/" class="">Home</a>
    </div>
    <div
      class="w-[100px] md:w-[200px] flex flex-row justify-between items-center"
    >
      <div class="text-gray-400">
        <a href="/tasks/create" class="">create</a>
      </div>
      <div class="text-gray-400">
        <a href="/tasks" class="">tasks</a>
      </div>
    </div>
  </div>
</header>
